html {
margin : 0;
padding : 0;
height : 100%;
width : 100%;
}

body {
margin : 0;
padding : 0;
font-family : Georgia, "Times New Roman", Times, serif;
font-size : 0.9em;
height : 100%;
width : 100%;
//background-image : url("images/Photoid.jpg");
//background-repeat : repeat-x;
background-position : top;
//background-color : #f0ecd6;
}
.cadre{
		//background-color: #ee1100;
		border:20px solid #ee1100;
		
	}
.svg_image{
	border:20px solid #2200ee;
	}
.pied_page {
font-family : Arial, Helvetica, sans-serif; font-style: italic;
text-align: center; font-size : 9pt; color: #000000; padding-top: 6px; padding-bottom: 6px;
}

.titre-principal {
font-family : Arial, Helvetica, sans-serif; font-style: bold;
text-align: center;
//font-size : 14pt;
color: #993300;
padding-top: 6px;
padding-bottom: 6px;
}

ul {
	list-style-image: url(images/macosxlogo.png);
	//list-style-type: square;
}

.item-menu ul /* Toutes les listes ‡ puces se trouvant dans un menu */
{
   //list-style-image: url("images/macosxlogo.png"); /* On change l'apparence des puces */
   padding: 0px; /* Tous les cÙtÈs ont une marge intÈrieure de 0 pixels */
   padding-left: 20px; /* ... mais on modifie ensuite la marge de gauche, donc celle-l‡ fera finalement 20 pixels */
   padding-right: 20px;
   margin: 0px; /* Idem pour margin, Áa nous Èvite d'avoir ‡ en Ècrire 4 (margin-left, margin-right...) */
   margin-bottom: 5px; /* MÍme chose que tout ‡ l'heure, on modifie ensuite juste margin-bottom, mais tous les autres sont ‡ 0px */
}

.item-menu a /* Tous les liens se trouvant dans un menu */
{
   color: #C71585;//#B3B3B3;
}

.item-menu a:hover /* Quand on pointe sur un lien du menu */
{
   background-color: #B3B3B3;
   color: black;
}